.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 30px;
}

.close {
    text-align: end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* --------------------------------- */

#esteTuContrato {
    color: #2D81BE;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

#ID_contrato {
    color: #888;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.modal-content p {
    font-size: 13px;
    text-align: justify;
    /* color: #1D2323; */
}

.modal-content h3 {
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    color: #1D2323;
}

.modal-content h5 {
    font-size: 15px;
    font-weight: 550;
    text-align: justify;
    color: #1D2323;
}

#openModalBtn {
    color: #2D81BE;
    cursor: pointer;
}