<!DOCTYPE html>
<html>

<head>
    <title>ANY</title>
    <!-- *BOOTSTRAP CSS INTERNO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_any.css')}}">
    <link rel="any icon" href="{{ url_for('static', filename='img/ANY..svg')}}">
</head>

<body onload="Inicio()">
    <form action="/" method="POST">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="."><img class="logo" src="." alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav  menu_header">
                            <a class="list_item_header" aria-current="page" href="{{ url_for('landingPage_eng') }}"> <img src="{{ url_for('static', filename='img/ANY..svg')}}" alt=""></a>

                            <div id="headerBtns">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle dpdown_header" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Language
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item active" href="#">English</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('Any') }}">Spanish</a></li>
                                    </ul>
                                </div>

                                <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('signUp') }}">Sign Up</a>
                                <a class="list_item_header sec_boton" aria-current="page" href="{{ url_for('logIn') }}">Log In</a>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div id="container">
                <section id="paso1">
                    <div id="anyTitulo">
                        <h1 class="gradientLyrics">ANY.</h1>
                    </div>
                    <p class="paso"><span>Step 1.</span> Create a post to sell...</p>
                    <div id="text-container">
                        <div id="mainTextBox">
                            <input type="hidden" name="form_name" value="keywordsForm">
                            <input type="text" class="txt" id="descripcion" placeholder="describe your product/service" name="Description" />
                            <!-- <a href="#paso2" id="botonTextBox"><img src="../img/arrow-forward-rounded.svg" alt=""></a> -->
                        </div>
                        <p class="numChar"><span id="charCount"></span> / 50 characters</p>

                        <a href="#paso2" class="boton">Next</a>
                        <!-- <button href="#paso2" </button> -->
                    </div>
                </section>

                <section id="paso2">
                    <p class="paso"><span>Step 2. </span>Choose up to 3 colors for your post</p>
                    <p id="subtitulo">click on the colorbox to change the color</p>
                    <div id="colors">
                        <h3 id="menos" class="btnP2" onclick="deleteColor()">-</h3>
                        <input type="color" id="color1" class="color-input" name="color1">
                        <input type="color" id="color2" class="color-input" name="color2">
                        <input type="color" id="color3" class="color-input" name="color3">
                        <h3 id="mas" class="btnP2" onclick="addColor()">+</h3>
                    </div>
                    <div class="sigBack">
                        <a href="#paso1" class="boton backBtn ">Back</a>
                        <a href="#paso3" class="boton ">Next</a>
                    </div>
                </section>

                <section id="paso3">
                    <p class="paso"><span>Step 3.</span> Write up to 4 keywords for your post.</p>

                    <div id="palabras">
                        <div class="textContainerP3">
                            <input type="text" id="text-input1" class="txt txtP3" placeholder="keyword 1" name="keyword1" />
                            <!-- <p class="numChar"><span></span> / 50 caracteres</p> -->

                            <input type="text" id="text-input2" class="txt txtP3" placeholder="keyword 2" name="keyword2" />
                        </div>
                        <div class="textContainerP3">
                            <input type="text" id="text-input3" class="txt txtP3" placeholder="keyword 3" name="keyword3" />
                            <input type="text" id="text-input4" class="txt txtP3" placeholder="keyword 4" name="keyword4" />
                        </div>
                    </div>

                    <div class="sigBack">
                        <a href="#paso2" class="boton backBtn ">Back</a>
                        <a href="#paso4" id="add-button" class="boton">Next</a>
                    </div>
                </section>

                <section id="paso4">
                    <!-- <section id="paso4" onload="step3()"> -->
                    <p class="paso"><span>Step 4.</span> Click on the keywords to give them more relevance when creating the post </p>

                    <!-- <button id="add-button" class="boton">Agregar Palabra Clave</button> -->
                    <!-- <div id="circle-container"></div> -->

                    <p id="sinPalabrasCve">You did not write any keyword</p>

                    <div class="divCircle">
                        <div class="circle" id="c1" onclick="step4_clicPalabra('c1')">
                            <p id="c_op1"></p>
                        </div>
                        <div class="circle" id="c2" onclick="step4_clicPalabra('c2')">
                            <p id="c_op2"></p>
                        </div>
                    </div>
                    <div class="divCircle">
                        <div class="circle" id="c3" onclick="step4_clicPalabra('c3')">
                            <p id="c_op3"></p>
                        </div>
                        <div class="circle" id="c4" onclick="step4_clicPalabra('c4')">
                            <p id="c_op4"></p>
                        </div>
                    </div>

                    <div class="sigBack">
                        <a href="#paso3" class="boton backBtn ">Back</a>
                        <a href="#paso5" id="add-button" class="boton">Next</a>
                    </div>
                </section>

                <section id="paso5">
                    <p class="paso"><span>Step 5.</span> Ad Description Specifications </p>

                    <br>
                    <input type="text" class="txt" placeholder="Name of the business">
                    <br>

                    <div class="selectOptions">
                        <div class="selectOption">
                            <p class="pstep5">Length: </p>
                            <select name="length">
                            <option value="corto" selected>Short</option>
                            <option value="largo">Long</option>
                        </select>
                        </div>
                        <div class="selectOption">
                            <p class="pstep5">Tone: </p>
                            <select name="tone">
                                <option value="Profesional" selected>Professional</option>
                                <option value="Gracioso">Funny</option>
                            <option value="Ingenioso">Witty</option>
                        </select>
                        </div>
                    </div>

                    <input type="text" class="txt" placeholder="Add a promotion">
                    <!-- <input type="checkbox" id="prom" name="prom">
                    <label for="prom">No quiero una promoción</label> -->

                    <div class="sigBack smtdiv">
                        <a href="#paso4" class="boton backBtn ">Back</a>
                        <!--<a href="#resultado" id="add-button" class="boton">Generar</a>-->
                        <input type="hidden" name="source_page" value="Any_eng.html">
                        <input type="submit" id="add-button" class="boton" value="Create">
                    </div>
                </section>

                <section id="resultado">
                    <p class="paso"><span>Your post is ready</span> <br> This is a preview of your Instagram post</p>

                    <div id="instaPost">
                        <img class="instaIcon" src="{{ url_for('static', filename='img/profile.svg')}}" alt=""> {% if imagePath %}
                        <!--<img src="{{ url_for('static', filename='img/img_resultado/response_num0.png')}}" alt="" id="imageAnswer">-->
                        <img src="{{ imagePath }}" alt="" id="imageAnswer"> {% endif %}
                        <div id="iconsInsta">
                            <img class="instaIcon" src="{{ url_for('static', filename='img/cards-heart.svg')}}" alt="">
                            <img class="instaIcon" src="{{ url_for('static', filename='img/comment.svg')}}" alt="">
                            <img class="instaIcon" src="{{ url_for('static', filename='img/send.svg')}}" alt="">
                        </div>

                        {% if result %}
                        <p id="chatGPTAnswer">
                            {{ result }}
                        </p>
                        {% endif %}

                    </div>
                    {% if imagePath %}
                    <!-- <a href="{{ url_for('static', filename=imagePath)}}" download="nombre-de-la-imagen.jpg" class="boton">Descargar imagen</a> -->
                    <!-- <a href="{{ imagePath }}" download="nombre-de-la-imagen.jpg" class="boton" download>Descargar imagen</a> -->
                    <a href="{{ imagePath }}" target="_blank" class="boton" download>See image</a>
                    <!-- <a href="{{ imagePath }}" onclick="downloadImage()" class="boton" download>Descargar imagen</a> -->
                    {% endif %}

                </section>

            </div>

        </main>

    </form>

    <!-- <button id="delete-button">DeleteImg</button> -->


    {% if fileName %}
    <!-- <h1>Filename: {{ fileName }}</h1> -->
    <script>
        /*
                                                                                                                                                                                                                        window.addEventListener('DOMContentLoaded', function() {
                                                                                                                                                                                                                            // Add event listener to the delete button
                                                                                                                                                                                                                            var deleteButton = document.getElementById('delete-button');
                                                                                                                                                                                                                            deleteButton.addEventListener('click', function() {
                                                                                                                                                                                                                                var filename = "{{ fileName }}";  // Replace with the actual filename
                                                                                                                                                                                                                                console.log(filename);

                                                                                                                                                                                                                                fetch('/delete_image', {
                                                                                                                                                                                                                                    method: 'POST',
                                                                                                                                                                                                                                    headers: {
                                                                                                                                                                                                                                        'Content-Type': 'application/x-www-form-urlencoded'
                                                                                                                                                                                                                                    },
                                                                                                                                                                                                                                    body: 'filename=' + filename
                                                                                                                                                                                                                                })
                                                                                                                                                                                                                                .then(function(response) {
                                                                                                                                                                                                                                    // Handle the response
                                                                                                                                                                                                                                    if (response.ok) {
                                                                                                                                                                                                                                        console.log('Image deleted successfully');
                                                                                                                                                                                                                                    } else {
                                                                                                                                                                                                                                        console.error('Failed to delete image');
                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                })
                                                                                                                                                                                                                                .catch(function(error) {
                                                                                                                                                                                                                                    console.error('An error occurred:', error);
                                                                                                                                                                                                                                });
                                                                                                                                                                                                                            });
                                                                                                                                                                                                                        });
                                                                                                                                                                                                                        */

        /*
        function downloadImage() {
            var link = document.createElement('a');
            link.href = '{{ imagePath }}';
            link.download = 'download.png';
            link.click();
        }
        */

        window.addEventListener('beforeunload', function() {
            var filename = "{{ fileName }}"; // Replace with the actual filename
            console.log(filename);

            fetch('/delete_image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'filename=' + filename
                })
                .then(function(response) {
                    // Handle the response
                    if (response.ok) {
                        console.log('Image deleted successfully');
                    } else {
                        console.error('Failed to delete image');
                    }
                })
                .catch(function(error) {
                    console.error('An error occurred:', error);
                });
        });
    </script>
    {% endif %}

    <!-- *BOOTSTRAP JS INTERNO -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}} "></script>
    <script src="{{ url_for('static', filename='js/script_any.js')}} "></script>
    <!-- <script src="../js/script.js "></script> -->



</body>



</html>

<ul id="color-list "></ul>
