{% extends 'landing.html' %}

{% block title %}
ANY | landing
{% endblock %}

{% block headline %}
ANY.
{% endblock %}

{% block description %}
Design the post you want, no matter who you are.
{% endblock %}

{% block language %}
language
{% endblock %}

{% block steps_heading %}
ANY is the perfect tool to design posts in just <span>4 steps</span>
{% endblock %}

{% block step1_title %}
Description
{% endblock %}

{% block step2_title %}
Colors
{% endblock %}

{% block step3_title %}
Keywords
{% endblock %}

{% block step4_title %}
Priority
{% endblock %}

{% block design_heading %}
Design as fast as you imagine
{% endblock %}

{% block design_description %}
In 4 simple steps, Artificial Intelligence will generate the ideal advertisement that your hands have not created but your mind has imagined.
{% endblock %}

{% block any_heading %}
With <span>ANY</span>, anyone from anywhere can design any post.
{% endblock %}

{% block more_than_design %}
ANY is more than design
{% endblock %}

{% block more_than_design_description %}
Image + Description + Hashtags
{% endblock %}
