{% extends 'landing.html' %}

{% block title %}
ANY | landing
{% endblock %}

{% block headline %}
ANY.
{% endblock %}

{% block language %}
Idioma
{% endblock %}


{% block description %}
Diseña la publicación que desees, no importa quién seas.
{% endblock %}

{% block steps_heading %}
ANY es la herramienta perfecta para diseñar publicaciones en solo <span>4 pasos</span>
{% endblock %}

{% block step1_title %}
Descripción
{% endblock %}

{% block step2_title %}
Colores
{% endblock %}

{% block step3_title %}
Palabras Clave
{% endblock %}

{% block step4_title %}
Relevancia
{% endblock %}

{% block design_heading %}
Diseña tan rápido como imaginas
{% endblock %}

{% block design_description %}
En 4 simples pasos, la Inteligencia Artificial generará el anuncio ideal que tus manos no han creado pero tu mente ha imaginado.
{% endblock %}

{% block any_heading %}
Con <span>ANY</span>, cualquier persona de cualquier lugar puede diseñar cualquier anuncio.
{% endblock %}

{% block more_than_design %}
ANY es más que diseño
{% endblock %}

{% block more_than_design_description %}
Anuncio + Descripción + Hashtags
{% endblock %}
