<!DOCTYPE html>
<html lang="en">

<head>
    <title>ANY | landing</title>
    <!-- *BOOTSTRAP CSS INTERNO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css')}}">
    <link rel="any icon" href="{{ url_for('static', filename='img/ANY..svg')}}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="."><img class="logo" src="." alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav  menu_header">
                        <a class="list_item_header" aria-current="page" href="{{ url_for('landingPage') }}"> <img src="{{ url_for('static', filename='img/ANY..svg')}}" alt=""></a>
                        <!-- <div class="header_space"></div> -->
                        <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('index') }}">Prueba ANY</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section id="titulo">
            <div id="anyTitulo">
                <h1 class="gradientLyrics">ANY.</h1>
            </div>
            <p class="paso">Diseña el anuncio que quieras, sin importar quien seas.</p>
            <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('index') }}">Prueba ANY</a>
        </section>

        <section id="solo4pasos">
            <div>
                <h2>ANY es la herramienta perfecta para crear anuncios en solo <span>4 pasos</span></h2>
            </div>
        </section>

        <section id="imgsRapidas">
            <div id="textImgsRapidas">
                <h2>Diseña tan rápido como imaginas</strong>
                </h2>
                <p>En 4 simples pasos la Inteligencia Artificial te generará el anuncio ideal que tus manos no han creado pero tu mente ha imaginado</p>
            </div>

            <div>
                <img src="{{ url_for('static', filename='img/index/insta.svg')}}" alt="">
            </div>
        </section>

        <section id="cualquier">
            <img src="{{ url_for('static', filename='img/index/mundo.svg')}}" alt="">
            <h2>Con <span> ANY</span> cualquier persona de cualquier lugar puede diseñar cualquier anuncio.</h2>
        </section>

        <section id="masDiseño">
            <div id="txtMasDiseño">
                <h1 class="gradientLyrics2">ANY es más que diseño</h1>
                <p>Anuncio + Descripción + Hashtags</p>
                <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('index') }}">Prueba ANY</a>

            </div>
        </section>
    </main>

    <footer>
        <a class="list_item_header" aria-current="page" href="."> <img src="{{ url_for('static', filename='img/ANY..svg')}}" alt=""></a>
    </footer>


    <!-- *BOOTSTRAP JS INTERNO -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>