<!DOCTYPE html>
<html lang="en">

<head>
    <title>ANY</title>
    <!-- *BOOTSTRAP CSS INTERNO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_any.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login_signup.css')}}">
    <link rel="any icon" href="{{ url_for('static', filename='img/ANY..svg')}}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="."><img class="logo" src="." alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav  menu_header">
                        <a class="list_item_header" aria-current="page" {% if language=='english' %} href="{{ url_for('landingPage_eng') }}" {% else %} href="{{ url_for('landingPage') }}" {% endif %}"> <img src="{{ url_for('static', filename='img/ANY..svg')}}" alt=""></a>

                        <div id="headerBtns">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle dpdown_header" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if language == 'english' %}
                                    Language
                                {% else %}
                                    Idioma
                                {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if language == 'english' %}
                                    <li><a class="dropdown-item" href="{{ url_for('signUp') }}">English</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('registro') }}">Spanish</a></li>
                                    {% else %}
                                    <li><a class="dropdown-item" href="{{ url_for('registro') }}">Español</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('signUp') }}">Ingles</a></li>
                                    {% endif %}                              
                                </ul>
                            </div>

                            <!-- <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('signUp') }}">Sign Up</a> -->
                            {% if language == 'english' %}
                                <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('logIn') }}">Login</a>
                            {% else %}
                                <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('iniciaSesion') }}">Inicia Sesión</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="formSession">
        <h2>
            {% if language == 'english' %}
                Sign Up
            {% else %}
                Regístrate
            {% endif %}
        </h2>
        
        <form action="/register" method="POST">
            <input type="text" id="signup-name" class="inp" name="username" oninput="cuentaCaracteres(this.id)" placeholder="{% if language == 'english' %}Name{% else %}Nombre{% endif %}" required>
            <p class="numChar">
                {% if language == 'english' %}
                    <span id="charCountName"></span> / 50 characters
                {% else %}
                    <span id="charCountName"></span> / 50 caracteres
                {% endif %}
            </p>
            <br>
            <input type="email" id="signup-email" class="inp" name="email" oninput="cuentaCaracteres(this.id)"  placeholder="{% if language == 'english' %}Email{% else %}Correo{% endif %}" required>
            <p class="numChar">
                {% if language == 'english' %}
                    <span id="charCountEmail"></span> / 50 characters
                {% else %}
                    <span id="charCountEmail"></span> / 50 caracteres
                {% endif %}
            </p>
            <br>
            <input type="password" id="signup-password" class="inp" name="password" oninput="cuentaCaracteres(this.id)"  placeholder="{% if language == 'english' %}Password{% else %}Contraseña{% endif %}" required>
            <p class="numChar">
                {% if language == 'english' %}
                    <span id="charCountPassword"></span> / 50 characters
                {% else %}
                    <span id="charCountPassword"></span> / 50 caracteres
                {% endif %}
            </p>
            <br>            
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">
                {% if language == 'english' %}
                    I agree to the <a href="">terms and conditions</a>
                {% else %}
                    Acepto los <a href="">términos y condiciones</a>
                {% endif %}
            </label>
            <br>
            <input type="submit" id="subBtn" value="{% if language == 'english' %}Sign Up{% else %}Registrarse{% endif %}">
        </form>
        
    </section>

    <!-- *BOOTSTRAP JS INTERNO -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}} "></script>
    <script src="{{ url_for('static', filename='js/script_LogIn_SignUp.js')}} "></script>


</body>

</html>
