<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="hidden" name="form_name" value="keywordsForm">
        <input type="text" name="keyword1">
        <p>test</p>
        <input type="text" name="keyword2">
        <input type="text" name="keyword3">
        <input type="text" name="keyword4">
        <input type="submit" value="Send Keywords">
    </form>
    {% if result %}
    <div class="result">
        {{ result }}
    </div>
    {% endif %}
</body>
</html>